@use "sass:color" as color;
@use "variables.scss" as *;
@use "mixins.scss" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
.header {
	@include gradient(to right bottom, $list1);
	color: $primary_color;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	padding-bottom: 0;
	flex-direction: column;
	&__flexbox {
		height: 550px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__right {
			height: 100%;
			width: 70%;
			display: flex;
			align-items: flex-end;
			&__image {
				width: 100%;
				height: auto;
				transform: translate(-10%, 0);
			}
		}
		&__left {
			height: 50%;
			margin-bottom: 12%;
			margin-left: 7%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: start;
			width: 50%;
			&__title {
				font-family: $font_family-heavy;
				font-size: 4rem;
				color: $senary_color;
			}
			&__subtitle {
				font-family: $font_family-medium;
				font-size: 3rem;
				color: $senary_color;
				margin-bottom: 2%;
			}
			&__description {
				text-align: start;
				text-justify: inter-word;
				margin-top: 3%;
				width: 80%;
				font-family: $font_family-medium;
				font-size: 0.8rem;
				color: $septenary_color;
				margin-bottom: 5%;
			}
			&__flexbox {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 65%;
				&__button {
					&__text {
						font-size: 1.1rem;
						font-family: $font_family-medium;
					}
				}
				&__button--left {
					width: 48%;
					display: flex;
					@include button($secondary_color, transparent);
					border: solid 0.2rem $secondary_color;
					padding: 0.8rem 0.5rem;
					align-items: center;
					justify-content: center;

					&__svg {
						width: 1.5rem;
						height: 1.5rem;
						margin-left: 10%;
						fill: $secondary_color;
					}
					&:hover {
						background: $secondary_color;
						color: $quinary_color;
						svg {
							fill: $quinary_color;
						}
					}
				}
				&__button--right {
					width: 48%;
					@include button;
					padding: 1rem 0.5rem;
				}
			}
		}
	}
}
.navbar {
	font-family: $font_family-bold;
	padding: 3%;
	padding-top: 1%;
	margin-right: 3%;
	margin-left: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__login {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__button {
			@include button;
			padding: 1rem 5rem;
		}
	}
	&__searchbar {
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&__form {
			width: 100%;
			&__input {
				width: 100%;
				padding: 1rem 1rem 1rem 2.5rem;
				border-radius: 3rem;
				font-family: $font_family-medium;
				border: none;
				outline: none;
			}
			&__button {
				position: absolute;
				left: 0.5rem;
				top: 50%;
				transform: translateY(-50%);
				padding: 0.5rem;
				border: none;
				outline: none;
				background: none;
				color: $primary_color;
			}
		}
	}
	&__logo {
		width: 10%;
		&__svg {
			width: auto;
		}
	}
	&__menu {
		width: 35%;
		&__list {
			display: flex;
			justify-content: space-between;
			&__item {
				margin-right: 1rem;
				&__link {
					color: $secondary_color;
					text-decoration: none;
					&:hover {
						color: $quaternary_color;
					}
				}
			}
		}
	}
}

.wrapper {
	margin: 6%;

	&__smalltext {
		font-family: $font_family-medium;
		font-size: 1rem;
		color: $quaternary_color;
		margin-bottom: 1%;
	}
}
.container {
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 1.5rem;
	@include gradient(to right bottom, $list1);
	color: $primary_color;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	padding-bottom: 0;
	flex-direction: column;
	&__flexbox {
		display: flex;
		padding-bottom: 0;
		height: 450px;
		justify-content: space-between;
		align-items: center;
		&__left {
			height: 100%;
			width: 65%;
			display: flex;
			align-items: flex-end; // Added to make the image touch the bottom
			&__image {
				width: 100%;
				height: auto; // Prevent the image from stretching
			}
		}
		&__right {
			height: 50%;
			margin-bottom: 12%;
			margin-left: 7%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: end;
			width: 55%;
			&__title {
				font-family: $font_family-heavy;
				font-size: 4rem;
				color: $senary_color;
			}
			&__subtitle {
				font-family: $font_family-medium;
				font-size: 3rem;
				color: $senary_color;
				margin-bottom: 2%;
			}
			&__description {
				text-align: end;
				margin-top: 3%;
				width: 80%;
				font-family: $font_family-medium;
				font-size: 0.8rem;
				color: $septenary_color;
				margin-bottom: 5%;
			}
			&__flexbox {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 65%;
				&__button {
					&__text {
						font-size: 1.1rem;
						font-family: $font_family-medium;
					}
				}
				&__button--left {
					width: 48%;
					display: flex;
					@include button($secondary_color, transparent);
					border: solid 0.2rem $secondary_color;
					padding: 0.8rem 0.5rem;
					align-items: center;
					justify-content: center;

					&__svg {
						width: 1.5rem;
						height: 1.5rem;
						margin-left: 10%;
						fill: $secondary_color;
					}
					&:hover {
						background: $secondary_color;
						color: $quinary_color;
						svg {
							fill: $quinary_color;
						}
					}
				}
				&__button--right {
					width: 48%;
					@include button;
					padding: 1rem 0.5rem;
				}
			}
		}
	}
}

.maincontainer1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	&__subtitle {
		font-family: $font_family-medium;
		font-size: 1.5rem;
		color: $senary_color;
	}
	&__button {
		width: 10%;
		display: flex;
		justify-content: space-evenly;
		@include button($secondary_color, transparent);
		padding: 0.8rem 1rem;
		border: solid 0.2rem $secondary_color;
		fill: $secondary_color;

		&:hover {
			background: $secondary_color;
			color: $quinary_color;
			svg {
				path {
					stroke: $quinary_color;
				}
			}
		}
	}
}

.grid {
	margin-top: 3%;
	@include grid(4);
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		border-radius: 1rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		padding: 3%;
		&__image {
			width: 100%;
			border-radius: 1rem;
			height: auto;
		}
		&__title {
			font-family: $font_family-medium;
			font-size: 1.3rem;
			color: $nonary_color;
			margin-top: 5%;
		}
		&__subtitle {
			font-family: $font_family-medium;
			font-size: 1rem;
			color: $octonary_color;
			margin-top: 2%;
		}
		&__price {
			font-family: $font_family-medium;
			font-size: 1.1rem;
			color: $nonary_color;
			margin-top: 2%;
			margin-bottom: 5%;
		}
	}
}

.grid3 {
	@include grid(3);
	margin-top: 2%;
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		border-radius: 1rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		padding: 3%;
		height: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		&__image {
			width: 100%;
			height: 220px;
			object-fit: cover;
			border-radius: 1rem;
		}
		&__title {
			font-family: $font_family-medium;
			font-size: 1.1rem;
			color: $nonary_color;
			margin-top: 3%;
		}
		&__tag {
			border-radius: 5rem;
			padding: 2%;
			background-color: $tag;
			font-family: $font_family-medium;
			font-size: 1rem;
			color: $quinary_color;
			margin-top: 2%;
		}
		&__description {
			display: block;
			font-family: $font_family-regular;
			font-size: 1.1rem;
			color: $nonary_color;
			margin-top: 2%;
			margin-bottom: 5%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.footer {
	@include gradient(to right bottom, $list1);
	color: $primary_color;
	display: flex;
	justify-content: space-between;
	padding: 6% 6%;
	padding-bottom: 2%;
	flex-direction: column;
	font-family: $font_family-bold;
	text-align: center;
	&__info {
		display: flex;
		color: $octonary_color;
		font-family: $font_family-medium;
		justify-content: space-between;
		margin-top: 3%;
		&__copyright {
			width: 25%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__flex {
			width: 25%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__logo {
			width: 50%;
			height: 5%;
			display: flex;
			justify-content: center;
			align-items: center;
			&__icon {
				width: 20%;
				fill: $quaternary_color;
				&:hover {
					fill: $secondary_color;
				}
			}
		}
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 3%;
		&__icons {
			display: flex;
			justify-content: space-between;
			width: 20%;
			&__icon {
				width: 3rem; // Increased width
				height: 3rem; // Increased height
				fill: $quaternary_color;
				&:hover {
					fill: $secondary_color;
				}
			}
		}
		&__list {
			font-family: $font_family-medium;
			display: flex;
			justify-content: space-between;
			width: 30%;
			&__item {
				margin-right: 1rem;
				&__link {
					text-decoration: none;
					color: $quaternary_color;
					&:hover {
						color: $secondary_color;
					}
				}
			}
		}
	}
	&__register {
		color: $quinary_color;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $secondary_color;
		border-radius: 1rem;
		padding: 3%;
		margin-bottom: 3%;
		& h2 {
			text-align: start;
		}
		&__flex {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 70%;
			background-color: $quinary_color;
			padding: 0.6rem;
			border-radius: 1rem;
			&__input {
				width: 70%;
				height: 100%;
				padding: 0.9rem 0.9rem 0.9rem 2.5rem;
				border-radius: 0.5rem;
				font-family: $font_family-medium;
				border: 2px solid $decenary_color;
			}
			&__button {
				@include button;
				border-radius: 0.5rem;
				width: 25%;
				height: 100%;
			}
		}
	}
}
hr {
	border-width: 0;
	height: 1px;
	color: $decenary_color;
	background-color: $decenary_color;
}
