$primary_color: #fceed5;
$secondary_color: #003459;
$tertiary_color: #ffe7ba;
$quaternary_color: #000000;
$quinary_color: #fdfdfd;
$senary_color: #002a48;
$septenary_color: #242b33;
$octonary_color: #667479;
$nonary_color: #00171f;
$decenary_color: #ccd1d2;
$transparent: transparent;
$tag: #00a7e7;

$font_family-bold: "Gilroy-Bold", sans-serif;
$font_family-medium: "Gilroy-Medium", sans-serif;
$font_family-regular: "Gilroy-Regular", sans-serif;
$font_family-heavy: "Gilroy-Heavy", sans-serif;
$font_family-light: "Gilroy-Light", sans-serif;
$list1: $primary_color, $tertiary_color;
